<script>
  const tipLength = {{ TIP_LENGTH }};
  const tipRadius = {{ TIP_RADIUS }};
  const tipResolution = {{ TIP_RESOLUTION }};
  const shaftRadius = {{ SHAFT_RADIUS }};
  const shaftResolution = {{ SHAFT_RESOLUTION }};
  const dirX = {{ DIR_X }};
  const dirY = {{ DIR_Y }};
  const dirZ = {{ DIR_Z }};

  const {{ SOURCE }} = vtk.Filters.Sources.vtkArrowSource.newInstance({
    tipLength: tipLength,
    tipRadius: tipRadius,
    tipResolution: tipResolution,
    shaftRadius: shaftRadius,
    shaftResolution: shaftResolution,
    direction: [dirX, dirY, dirZ],
    startAt: 'origin'
  });
</script>
