<div
  id="clip-filter-config-{{ CLIPPED_PD }}"
  data-normal-x="{{ NORMAL_X }}"
  data-normal-y="{{ NORMAL_Y }}"
  data-normal-z="{{ NORMAL_Z }}"
  data-origin-x="{{ ORIGIN_X }}"
  data-origin-y="{{ ORIGIN_Y }}"
  data-origin-z="{{ ORIGIN_Z }}"
  data-invert="{{ INVERT | tojson }}"
  style="display: none;"
></div>
<script>
  var {{ CLIPPED_PD }};
  (function () {
    const config = document.getElementById('clip-filter-config-{{ CLIPPED_PD }}').dataset;
    const normalX = parseFloat(config.normalX);
    const normalY = parseFloat(config.normalY);
    const normalZ = parseFloat(config.normalZ);
    const originX = parseFloat(config.originX);
    const originY = parseFloat(config.originY);
    const originZ = parseFloat(config.originZ);
    const invert = JSON.parse(config.invert);

    var src = {{ SOURCE }};
    if (typeof src.update === 'function') {
      src.update();
    }
    var pd = typeof src.getOutputData === 'function' ? src.getOutputData(0) : src;
    var inPts = pd.getPoints().getData();
    var inPolys = pd.getPolys().getData();
    var nPts = inPts.length / 3;
    var distances = new Float32Array(nPts);
    for (var i = 0; i < nPts; i++) {
      var px = inPts[i * 3];
      var py = inPts[i * 3 + 1];
      var pz = inPts[i * 3 + 2];
      distances[i] = normalX * (px - originX) + normalY * (py - originY) + normalZ * (pz - originZ);
    }
    var newPts = [];
    var newPolys = [];
    var ptMap = {};
    var newPtIdx = 0;
    var offset = 0;
    var i = 0;
    while (i < inPolys.length) {
      var npts = inPolys[i];
      var ids = [];
      for (var j = 0; j < npts; j++) {
        ids.push(inPolys[i + 1 + j]);
      }
      var allKept = true;
      for (var k = 0; k < npts; k++) {
        var dist = distances[ids[k]];
        var keep = invert ? dist >= 0 : dist <= 0;
        if (!keep) {
          allKept = false;
          break;
        }
      }
      if (allKept) {
        newPolys.push(npts);
        for (var j = 0; j < npts; j++) {
          var oldId = ids[j];
          if (!(oldId in ptMap)) {
            newPts.push(inPts[oldId * 3]);
            newPts.push(inPts[oldId * 3 + 1]);
            newPts.push(inPts[oldId * 3 + 2]);
            ptMap[oldId] = newPtIdx++;
          }
          newPolys.push(ptMap[oldId]);
        }
      }
      i += npts + 1;
    }
    var pts = vtk.Common.Core.vtkPoints.newInstance();
    pts.setData(Float32Array.from(newPts), 3);
    {{ CLIPPED_PD }} = vtk.Common.DataModel.vtkPolyData.newInstance();
    {{ CLIPPED_PD }}.setPoints(pts);
    var polys = vtk.Common.Core.vtkCellArray.newInstance();
    polys.setData(Int32Array.from(newPolys));
    {{ CLIPPED_PD }}.setPolys(polys);
  })();
</script>
