<script type="module">
// @ts-check
/// <reference path="vtk.d.ts" />

let contourPD{{INDEX}}: any;
(function () {
  const src: any = source{{INDEX}};
  if (typeof src.update === 'function') { src.update(); }
  const pd: any = (typeof src.getOutputData === 'function') ? src.getOutputData(0) : src;

  const pts: Float32Array = pd.getPoints().getData();
  const polys: Int32Array = pd.getPolys().getData();
  const scalarsArr: any = pd.getPointData().getScalars();
  if (!scalarsArr) {
    contourPD{{INDEX}} = vtk.Common.DataModel.vtkPolyData.newInstance();
    return;
  }
  const scalars: Float32Array = scalarsArr.getData();
  const values: number[] = [{{CONTOUR_VALUES}}];

  // Marching triangles: find contour line segments on the surface
  const newPts: number[] = [];
  const lines: number[] = [];

  for (let v: number = 0; v < values.length; v++) {
    const iso: number = values[v];
    let i: number = 0;
    while (i < polys.length) {
      const npts: number = polys[i]; i++;
      if (npts !== 3) { i += npts; continue; }
      const i0: number = polys[i], i1: number = polys[i+1], i2: number = polys[i+2]; i += 3;
      const s0: number = scalars[i0], s1: number = scalars[i1], s2: number = scalars[i2];
      const crossedPts: number[] = [];
      const edges: number[][] = [[i0,i1,s0,s1],[i1,i2,s1,s2],[i2,i0,s2,s0]];
      for (let e: number = 0; e < 3; e++) {
        const a: number = edges[e][0], b: number = edges[e][1];
        const sa: number = edges[e][2], sb: number = edges[e][3];
        if ((sa <= iso && iso <= sb) || (sb <= iso && iso <= sa)) {
          if (sa === sb) continue;
          const t: number = (iso - sa) / (sb - sa);
          const px: number = pts[a*3]   + t*(pts[b*3]   - pts[a*3]);
          const py: number = pts[a*3+1] + t*(pts[b*3+1] - pts[a*3+1]);
          const pz: number = pts[a*3+2] + t*(pts[b*3+2] - pts[a*3+2]);
          crossedPts.push(newPts.length / 3);
          newPts.push(px, py, pz);
        }
      }
      if (crossedPts.length === 2) {
        lines.push(2, crossedPts[0], crossedPts[1]);
      }
    }
  }

  const outPts = vtk.Common.Core.vtkPoints.newInstance();
  outPts.setData(Float32Array.from(newPts), 3);
  contourPD{{INDEX}} = vtk.Common.DataModel.vtkPolyData.newInstance();
  contourPD{{INDEX}}.setPoints(outPts);
  const lineArr = vtk.Common.Core.vtkCellArray.newInstance();
  lineArr.setData(Int32Array.from(lines));
  contourPD{{INDEX}}.setLines(lineArr);
})();
</script>
