<script>
  const originX = {{ ORIGIN_X }};
  const originY = {{ ORIGIN_Y }};
  const originZ = {{ ORIGIN_Z }};
  const point1X = {{ POINT1_X }};
  const point1Y = {{ POINT1_Y }};
  const point1Z = {{ POINT1_Z }};
  const point2X = {{ POINT2_X }};
  const point2Y = {{ POINT2_Y }};
  const point2Z = {{ POINT2_Z }};
  const iResolution = {{ I_RESOLUTION }};
  const jResolution = {{ J_RESOLUTION }};

  const {{ SOURCE }} = vtk.Filters.Sources.vtkPlaneSource.newInstance({
    origin: [originX, originY, originZ],
    point1: [point1X, point1Y, point1Z],
    point2: [point2X, point2Y, point2Z],
    xResolution: iResolution,
    yResolution: jResolution
  });
</script>
