<div
  id="ply-reader-config"
  data-ply-reader-name="{{ PLY_READER }}"
  data-source-name="{{ SOURCE }}"
  data-ply-base64="{{ PLY_BASE64 }}"
  style="display: none;"
></div>
<script>
  (function () {
    const config = document.getElementById('ply-reader-config').dataset;
    const plyReaderName = config.plyReaderName;
    const sourceName = config.sourceName;
    const plyBase64 = config.plyBase64;
    window[plyReaderName] = vtk.IO.Geometry.vtkPLYReader.newInstance();
    const plyBytes = Uint8Array.from(atob(plyBase64), (c) => c.charCodeAt(0));
    window[plyReaderName].parseAsArrayBuffer(plyBytes.buffer);
    window[sourceName] = window[plyReaderName].getOutputData(0);
  })();
</script>
