<script type="module">
// @ts-check
/// <reference path="vtk.d.ts" />

const points: Float32Array = new Float32Array([{{ POINTS_DATA }}]);
const polydata = vtk.Common.DataModel.vtkPolyData.newInstance();
polydata.getPoints().setData(points, 3);
const numPoints: number = points.length / 3;
const verts: Uint32Array = new Uint32Array(numPoints + 1);
verts[0] = numPoints;
for (let i: number = 0; i < numPoints; i++) {
  verts[i + 1] = i;
}
polydata.getVerts().setData(verts);
const {{ SOURCE }} = polydata;
</script>
