<script type="module">
// @ts-check
/// <reference path="vtk.d.ts" />

let {{ SHRUNK_PD }}: any;
(function () {
  const src: any = {{ SOURCE }};
  if (typeof src.update === 'function') { src.update(); }
  const pd: any = (typeof src.getOutputData === 'function') ? src.getOutputData(0) : src;
  const inPts: Float32Array = pd.getPoints().getData();
  const inPolys: Int32Array = pd.getPolys().getData();
  const newPts: number[] = [];
  const newPolys: number[] = [];
  let offset: number = 0;
  let i: number = 0;
  while (i < inPolys.length) {
    const npts: number = inPolys[i];
    const ids: number[] = [];
    for (let j: number = 0; j < npts; j++) {
      ids.push(inPolys[i + 1 + j]);
    }
    let cx: number = 0, cy: number = 0, cz: number = 0;
    for (let k: number = 0; k < npts; k++) {
      cx += inPts[ids[k] * 3];
      cy += inPts[ids[k] * 3 + 1];
      cz += inPts[ids[k] * 3 + 2];
    }
    cx /= npts; cy /= npts; cz /= npts;
    newPolys.push(npts);
    for (let j: number = 0; j < npts; j++) {
      const id: number = ids[j];
      newPts.push(cx + {{ SHRINK_FACTOR }} * (inPts[id * 3] - cx));
      newPts.push(cy + {{ SHRINK_FACTOR }} * (inPts[id * 3 + 1] - cy));
      newPts.push(cz + {{ SHRINK_FACTOR }} * (inPts[id * 3 + 2] - cz));
      newPolys.push(offset + j);
    }
    offset += npts;
    i += npts + 1;
  }
  const pts = vtk.Common.Core.vtkPoints.newInstance();
  pts.setData(Float32Array.from(newPts), 3);
  {{ SHRUNK_PD }} = vtk.Common.DataModel.vtkPolyData.newInstance();
  {{ SHRUNK_PD }}.setPoints(pts);
  const polys = vtk.Common.Core.vtkCellArray.newInstance();
  polys.setData(Int32Array.from(newPolys));
  {{ SHRUNK_PD }}.setPolys(polys);
})();
</script>
