<div
  id="tube-filter-config-{{ TUBED_PD }}"
  data-radius="{{ RADIUS }}"
  data-n-sides="{{ N_SIDES }}"
  data-capping="{{ CAPPING | tojson }}"
  style="display: none;"
></div>
<script>
  var {{ TUBED_PD }};
  (function () {
    const config = document.getElementById('tube-filter-config-{{ TUBED_PD }}').dataset;
    const inputSource = {{ SOURCE }};

    const {{ TUBE_FILTER }} = vtk.Filters.General.vtkTubeFilter.newInstance({
      radius: parseFloat(config.radius),
      numberOfSides: parseInt(config.nSides),
      capping: JSON.parse(config.capping)
    });

    if (typeof inputSource.update === 'function') {
      inputSource.update();
    }
    if (typeof inputSource.getOutputPort === 'function') {
      {{ TUBE_FILTER }}.setInputConnection(inputSource.getOutputPort());
    } else {
      {{ TUBE_FILTER }}.setInputData(inputSource);
    }
    {{ TUBE_FILTER }}.update();
    {{ TUBED_PD }} = {{ TUBE_FILTER }}.getOutputData();
  })();
</script>
