<script>
  var {{ TUBED_PD }};
  (function () {
    const radius = {{ RADIUS }};
    const numberOfSides = {{ N_SIDES }};
    const capping = {{ CAPPING }};
    const inputSource = {{ SOURCE }};

    const {{ TUBE_FILTER }} = vtk.Filters.General.vtkTubeFilter.newInstance({
      radius: radius,
      numberOfSides: numberOfSides,
      capping: capping
    });

    if (typeof inputSource.update === 'function') {
      inputSource.update();
    }
    if (typeof inputSource.getOutputPort === 'function') {
      {{ TUBE_FILTER }}.setInputConnection(inputSource.getOutputPort());
    } else {
      {{ TUBE_FILTER }}.setInputData(inputSource);
    }
    {{ TUBE_FILTER }}.update();
    {{ TUBED_PD }} = {{ TUBE_FILTER }}.getOutputData();
  })();
</script>
