<script type="module">
// @ts-check
/// <reference path="vtk.d.ts" />

const nRings: number = {{ R_RES }} + 1;
const nCirc: number = {{ C_RES }};
const innerR: number = {{ INNER }};
const outerR: number = {{ OUTER }};
const deltaR: number = (outerR - innerR) / {{ R_RES }};
const thetaStep: number = (2 * Math.PI) / nCirc;
const rawPts: number[] = [];
for (let c: number = 0; c < nCirc; c++) {
  const theta: number = c * thetaStep;
  const cosT: number = Math.cos(theta);
  const sinT: number = Math.sin(theta);
  for (let r: number = 0; r < nRings; r++) {
    const radius: number = innerR + r * deltaR;
    rawPts.push(radius * cosT, radius * sinT, 0.0);
  }
}
const rawPolys: number[] = [];
for (let c: number = 0; c < nCirc; c++) {
  const nextC: number = (c + 1) % nCirc;
  for (let r: number = 0; r < nRings - 1; r++) {
    const p0: number = c * nRings + r;
    const p1: number = p0 + 1;
    const p2: number = nextC * nRings + r + 1;
    const p3: number = p2 - 1;
    rawPolys.push(3, p0, p1, p2);
    rawPolys.push(3, p0, p2, p3);
  }
}
const {{ SOURCE }} = vtk.Common.DataModel.vtkPolyData.newInstance();
const vtkPts = vtk.Common.Core.vtkPoints.newInstance();
vtkPts.setData(Float32Array.from(rawPts), 3);
{{ SOURCE }}.setPoints(vtkPts);
const cellArray = vtk.Common.Core.vtkCellArray.newInstance();
cellArray.setData(Int32Array.from(rawPolys));
{{ SOURCE }}.setPolys(cellArray);
</script>
