<script type="module">
// @ts-check
/// <reference path="vtk.d.ts" />

const scalarBarActor = vtk.Rendering.Core.vtkScalarBarActor.newInstance();
scalarBarActor.setAxisLabel('{{ TITLE }}');
scalarBarActor.setAutomated(true);
{{ ORIENTATION_CODE }}
const lookupTable = vtk.Rendering.Core.vtkColorTransferFunction.newInstance();
lookupTable.addRGBPoint(0.0, 0.231, 0.299, 0.754);
lookupTable.addRGBPoint(0.25, 0.127, 0.566, 0.550);
lookupTable.addRGBPoint(0.5, 0.207, 0.718, 0.472);
lookupTable.addRGBPoint(0.75, 0.993, 0.906, 0.144);
lookupTable.addRGBPoint(1.0, 0.993, 0.906, 0.144);
scalarBarActor.setScalarsToColors(lookupTable);
renderer.addActor2D(scalarBarActor);
</script>
