<script>
{{ SOURCE_CODE }}
{{ NORMALS_CODE }}
const {{ MAPPER }} = vtk.Rendering.Core.vtkMapper.newInstance();
{{ MAPPER_SETUP }}
{{ SCALAR_CODE }}
const {{ ACTOR }} = vtk.Rendering.Core.vtkActor.newInstance();
{{ ACTOR }}.setMapper({{ MAPPER }});
{{ ACTOR }}.getProperty().setColor({{ COLOR_R }}, {{ COLOR_G }}, {{ COLOR_B }});
{{ ACTOR }}.getProperty().setOpacity({{ OPACITY }});
{{ EDGE_CODE }}
{{ STYLE_CODE }}
{{ SHADING_CODE }}
{{ PBR_CODE }}
{{ TEXTURE_CODE }}
renderer.addActor({{ ACTOR }});
</script>
